# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.so

# Angular
/frontend/dist
/frontend/node_modules

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Operating System Files
.DS_Store
Thumbs.db

# Docker
*.log

# MongoDB
data/

# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip